:root {
    // --color-primary-white: #fff;
    // --color-primary-blue: #2b7fff;
    // --color-primary-bluedark: #011c44;

    // --color-secondary-grey1: #4a4a4a;
    // --color-secondary-grey2: #4a4a4a;
    // --color-secondary-greylight: #747272;
    // --color-secondary-bluedark: #011f4a;
    // --color-secondary-yellow: #ffd02b;
    // --color-black: #000;

    --color-primary-white: #ffffff;
    --color-primary-orange: #ff9f0e;
    --color-primary-black: #181817;

    --color-secondary-yellow: #fcb62a;
    // --color-secondary-yellow: red; //вернуть желтый!!!
    --color-secondary-light: #fffaf3;
    --color-secondary-greymid: #f1f3ff;
    --color-secondary-grey: #839aa9;
    --color-secondary-greylight: #f9f9ff;
    --color-secondary-purple: #d9a6ff;

    --color-primary-grey-font: #d8d8d8;
    --color-primary-black-font: #09061c;
    --color-primary-yellow-font: #FFAA00;

    --color-modal-black: #31261A;


    // --fd12-name: "r1c2 Dry food ...";
    //надо без кавычек. их выводит в браузер тоже
    --fd12-name: r1c2 Dry food for dogs of small breeds Savory 3 kg (lamb);

}





// Цвет тени блюр карточек services-category-section
$color-primary-bluelight: #A8C6F5;
$color-primary-black-shad: #1818170D;
$color-primary-black-shad14: #18181714;
// $color-primary-black-blur: red;   для теста - невидно др. цветом


$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;


//для logo width - буквы 
// в .logo-width__header и .logo-width__footer dog 
$logo-header: 137px; //74px;
$logo-footer: 147px; //83px;
$logo-mob: 74px; //57px;


$logo-ico-width: 43px;
$logo-ico-header-h: 43px;
$logo-ico-footer-h: 36px;
$logo-ico-mob: 16px;

// food  - убрать, отсюда не беру
$fd11-vendor: 37875;
$fd11-name: "r1c1 Dry food for dogs of average breeds Savory 3 kg (turkey and lamb)";
// $fd11-name: "Dry food for dogs of average breeds Savory 3 kg (turkey and lamb)";
$fd11-price-act: "136.00$";
$fd11-price-old: "320.43$";
$fd11-img: "food-dog-black.jpg";
$fd11-srcset: "./images/img_page2/food-dog-black.jpg 1x, food-dog-black@2x 2x";
$fd11-src: "./images/img_page2/food-dog-black.jpg";

$fd12-vendor: 34905;
$fd12-name: "r1c2 Dry food for dogs of small breeds Savory 3 kg (lamb)";
// $fd12-name: "Dry food for dogs of small breeds Savory 3 kg (lamb)";
$fd12-price-act: "140.00$";
$fd12-price-old: "320.43$";
$fd11-img: "food-dog-orange.jpg";

$fd13-vendor: 00027;
$fd13-name: "Dry food for dogs of all breeds Savory 3 kg (rabbit and duck)";
$fd13-price-act: "136.00$";
$fd13-price-old: "320.43$";
$fd11-img: "food-dog-white.jpg";