.video {

    // video__container
    &__container-pos-out {


        //-----------чисто для позиционирования снаружи, внешнего, к родителям, всего блока видео
        // блока видео относительно родителя с position relative

        // display: flex;
        // justify-content: center;
        // align-items: center;

        // margin: 0;


        // // display: block;
        // max-width: 73px;
        // max-height: 72px;
        // width: 100%;
        // height: 100%;
        // /* Это иконки, а они обесцвечены */
        // fill: var(--color-secondary-grey); // background: #839AA9;

        // rotate: 0deg;

        //-------------позиционировать блок видео внешний margin вместо position
        // // в .less-talk-section__container для дсктп  и общем container для моб  position: relative; (они одинак по h, различ на гориз padding 24)
        position: absolute;
        // bottom: -20px;
        left: 50%;
        max-width: 73px;
        max-height: 72px;
        width: 100%;
        height: 100%;
        bottom: -22px;
        // // background-image: url("../images/video-background.svg");

        // /* Минус пол-звезды  64/2 =32,  Сверху 336 -32 =304,Справа 295-32=263 */
        // /* top: 304px;
        //                           right: 206px; */
        // /* Минус пол-звезды  - выше, наезжает при Resize на картинку. делаю без вычитания 
        //                           ВИзуально - без выичитания пол-звезды - как на макете. так остаить*/
        // // top: 303px;
        // bottom: -21px;
        // // left: auto; //иначе после моб left 283 не перемещается в этот right
        // // left: 183px;
        // right: 84px;


        // //родитель - секция less-talk-section__container для дсктп , она flex , добавляется в нее
        // margin-top: 142px;
        // margin-left: -25%;


        // background-color: yellowgreen;

        @media screen and (min-width: $bp-desktop) {
            //-----------чисто для позиционирования 
            // блока видео относительно родителя с position relative

            // // display: block;
            // // width: 161px;
            // // height: 123px;
            max-width: 161px;
            max-height: 123px;



            // fill: var(--color-primary-yellow-font); // background: #FFAA00;
            // // //родитель - секция less-talk-section__container для дсктп , она flex , добавляется в нее
            // // margin-top: 142px;
            // // margin-left: -25%;

            //position absolute От секция less-talk-section__container для дсктп
            top: 142px;
            left: 307px;
            bottom: auto;

        }

        // // video__container--back
        // &--back {
        //     width: 73px;
        //     height: 72px;

        //     @media screen and (min-width: $bp-desktop) {
        // так для десктопа не увеличивался размер фона. Вынесла из video__container--back ниже, в свмостоятельный  video__container-back
        // наследовал, или послдовательность отработки , или специфичноть
        //         width: 161px;
        //         height: 123px;
        //     }
        // }
    }


    //video__pos-in
    &__pos-in {
        //-----------чисто для позиционирования внуутри всего блока видео
        //относительно него всех внутренинх элементов- детей
        position: relative;
        max-width: 73px;
        max-height: 72px;
        height: 100%;
        // /* иконки обесцвечены */
        fill: var(--color-secondary-grey); // background: #839AA9;
        background-image: url("../images/video-background.svg");
        background-size: contain;
        background-repeat: no-repeat;

        @media screen and (min-width: $bp-desktop) {
            // width: 161px;
            // height: 123px;
            max-width: 161px;
            max-height: 123px;
            // fill: var(--color-primary-yellow-font); // background: #FFAA00;
        }

    }

    &__size {
        //размеры блока самого <video>
        width: 133px; //73px;
        height: 100px; //72px;

        @media screen and (min-width: $bp-desktop) {
            // width: 161px;
            // height: 123px;
            width: 200px;
            height: 200px;
        }
    }

    // video__container-back
    &__container-back {
        //ненадо фон пятнышко - он  в <video   - poster
        max-width: 73px;
        max-height: 72px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // opacity: 0.5; //иначе кнопку невидно 
        // opacity: 0; //


        @media screen and (min-width: $bp-desktop) {
            max-width: 161px;
            max-height: 123px;

        }

        // video__container-back--hide
        &--hide {
            //спрятать фон- пятнышко, когда скриптом запущен - показано video
            display: none;
            z-index: -10;
        }

        // video__container-back--show
        &--show {
            display: block;
            z-index: auto;
        }
    }

    //video__group  - кнопка + LearnMore
    &__group {
        position: absolute;
        // центрировать относительно общего с кнопкой родителя video__pos-in
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 41px;
        // max-height: 41px;
        text-align: center; //кнопка и  текст внутриgroup Отцентрировался
        // padding: 15px; //поехало все - надо размеры указывать всем блокам по вложенности111
        z-index: 1; //иначе в моб режиме не окрашивается кнопка hover. !!!В декстоп - окрашивается, в моб - нет. Стал hover срабатывать в мобверсии , когда сместила кнопку ниже section. Родитель накрывает.

        // //так ближе др к другу можно придвинуть по вертикали кнопку и LearnMore,  в моб версии далековато
        // display: flex;
        // flex-direction: column;

        @media screen and (min-width: $bp-desktop) {
            max-width: 81px;
            z-index: auto;
        }
    }


    // video__button
    &__button {
        border: none;
        cursor: pointer;
        border-radius: 50%;
        fill: var(--color-primary-white);
        background-color: var(--color-secondary-grey);
        padding: 0px;



        &:hover {
            background-color: var(--color-primary-orange);
            padding-top: 9px; //иначен некруглое

            @media screen and (min-width: $bp-desktop) {
                padding: 0px;
            }

        }

        &--svg {
            width: 24px;
            height: 24px;
            margin-top: -12px;

            @media screen and (min-width: $bp-desktop) {
                width: 48px;
                height: 48px;
                margin-top: 0px;
            }

        }
    }

    // video__text
    &__text {
        // Roboto 300 8 8
        font-weight: 300;
        font-size: 8px;
        line-height: 8px;
        // margin-top: 7px;
        color: var(--color-primary-white);
        white-space: nowrap;

        @media screen and (min-width: $bp-desktop) {
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            margin-top: 8px; // 8=75 group - 48 button - 19 text
        }

        &:hover {
            font-weight: 300;
            color: var(--color-primary-orange);

            @media screen and (min-width: $bp-desktop) {
                font-weight: 400;
            }
        }
    }
}

//для video.js   - по кнопке спрятать - показать виде
.video-container.playing video {
    display: block;
}


.video-container video {
    display: none;
    /* Видео изначально скрыто */
}

// // chatgpt
// .body2 {
//     background-color: #f0f0f0;
//     /* Или любой другой цвет фона */
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-height: 100vh;
//     margin: 0;
// }

// .video-container {
//     position: relative;
//     width: 100px;
//     height: 100px;
//     background-color: #000;
//     /* Фон для видео */
// }

// .video-container video {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     /* Чтобы видео заполняло контейнер */
// }


// .play-button {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 40px;
//     height: 40px;
//     border-radius: 50%;
//     background-color: rgba(255, 255, 255, 0.7);
//     /* Полупрозрачный белый фон */
//     border: none;
//     cursor: pointer;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .play-button::before {
//     content: "";
//     display: block;
//     width: 0;
//     height: 0;
//     border-top: 8px solid transparent;
//     border-bottom: 8px solid transparent;
//     border-left: 12px solid #000;
//     /* Цвет треугольника */

// }